<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--<suite name="Practice Suite">-->
<suite name="Practice Suite" parallel="tests" thread-count="3">
    <test name="Test Basics 1">
        <parameter name="browser" value="chrome"></parameter>
        <parameter name="url" value="https://www.quizlet.com/"></parameter>
        <parameter name="username" value="Christ1819"></parameter>
        <parameter name="password" value="Beats4325."></parameter>
        <classes>
            <class name="QuizletTests"/>
        </classes>
    </test> <!-- Test -->
    <test name="Test Basics 2">
        <parameter name="browser" value="firefox"></parameter>
        <parameter name="url" value="https://www.quizlet.com/"></parameter>
        <parameter name="username" value="Christ1819"></parameter>
        <parameter name="password" value="Beats4325."></parameter>
        <classes>
            <class name="QuizletTests"/>
        </classes>
    </test> <!-- Test -->
    <test name="Test Basics 3">
        <parameter name="browser" value="edge"></parameter>
        <parameter name="url" value="https://www.quizlet.com/"></parameter>
        <parameter name="username" value="Christ1819"></parameter>
        <parameter name="password" value="Beats4325."></parameter>
        <classes>
            <class name="QuizletTests"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->